<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>Planzvit</title>
    <meta name="title" content="Planzvit" />
    <meta name="description" content="Програмно-технологічний супровід" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%- APP_BASE_URL %>" />
    <meta property="og:title" content="Planzvit" />
    <meta property="og:site_name" content="Planzvit" />
    <meta property="og:description" content="Програмно-технологічний супровід" />
    <meta property="og:image" content="<%- APP_BASE_IMG %>" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%- APP_BASE_URL %>" />
    <meta property="twitter:title" content="Planzvit" />
    <meta property="twitter:description" content="Програмно-технологічний супровід" />
    <meta property="twitter:image" content="<%- APP_BASE_IMG %>" />

    <link rel="icon" href="/favicon.svg" />
  </head>

  <body
    class="overflow-hidden font-sans"
  >
    <noscript> You need to enable JavaScript to run this app. </noscript>

    <div id="app"></div>

    <script type="module" src="/src/main.js"></script>
  </body>
</html>
