@font-face {
  font-family: 'e-Ukraine';
  src: url('@/assets/fonts/e-Ukraine-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('@/assets/fonts/e-Ukraine-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('@/assets/fonts/e-Ukraine-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('@/assets/fonts/e-Ukraine-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('@/assets/fonts/e-Ukraine-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('@/assets/fonts/e-Ukraine-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

:root {
  --font-family: 'e-Ukraine', sans-serif;
  --font-size: 12px;
}

html {
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none !important;
}

*:focus-visible {
  outline: none !important;
}

/* Scrollbar on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--p-surface-500) transparent;
}

/* Scrollbar on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 1px;
  border: 1px solid var(--p-surface-500);
}

body::-webkit-scrollbar {
  display: none;
}

.border {
  border: 1px solid var(--p-panel-border-color);
}
